<div class="container">
    <div class="row">
        <div class="col-4">
            <div>
                <h4>Add Section</h4>
                <h6>Section Header</h6>
                <input [(ngModel)]="sectionHeader" type="text" class="border-dark w-100">

                <h6 class="mt-4">Section Details</h6>
                <textarea [(ngModel)]="sectionDetails" class="border-dark w-100 myText"></textarea>
                <button type="button" class="btn btn-primary btn-block btn-sm border-dark mb-3 mt-3" (click)="addSection()"> Add </button>
            </div>
        </div>
        <div class="col-7">
            <p-accordion styleClass="custom-accordion">
                <p-accordionTab *ngFor="let section of sections">
                    <ng-template class="p-accordion-header" pTemplate="header"> {{section.header}}</ng-template>
                    <ng-template class="p-accordion-content" pTemplate="content">{{section.details}}</ng-template>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
